body{
    background: url("../img/bgfull.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#header-nav{
    background-color: rgba(14, 112, 44, 0.514);
    border-radius: 0;
    border: 0;
    padding : 10px;
  }
#header-nav h1{
    float: left;
}

@media (max-width: 496px) {
    body{
        background: url("../img/bg.png");
        background-size: cover;
    }
    
}